<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AAA_WTA_BeThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WTA_BeThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AAA_WTA_BeThis.Properties.Settings>
            <setting name="PreferedWS" serializeAs="String">
                <value />
            </setting>
            <setting name="DefFilePath" serializeAs="String">
                <value>N:\CAD\BDS PRM 2016\WTA Common\Project Templates\SetupDataFiles\Worksets\WTA_REVIT_WORKSETS.txt</value>
            </setting>
            <setting name="PrefMLoc" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WTA_ELEC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WTA_FP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WTA_MECH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WTA_TCOM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WTA_PLMB" serializeAs="String">
                <value>True</value>
            </setting>
        </AAA_WTA_BeThis.Properties.Settings>
        <WTA_BeThis.Properties.Settings>
            <setting name="PreferedWS" serializeAs="String">
                <value />
            </setting>
        </WTA_BeThis.Properties.Settings>
    </userSettings>
</configuration>